<head>
  <style>
    div {
      margin-top: 5px;
      margin-left: 10px;
    }
  </style>
</head>
<div>
  <h1>{{title}}</h1>

  <mat-tab-group>
      <mat-tab label="User Story Readiness">
        <app-userstoryassessment></app-userstoryassessment>
      </mat-tab>
      <mat-tab label="Sprint Backlog Readiness">
        <app-backlogassessment></app-backlogassessment>
      </mat-tab>
      <mat-tab label="Project Progress">
          <app-progressmonitor></app-progressmonitor>
        </mat-tab>
  </mat-tab-group>
</div>